<app-header></app-header>
<!-- <div class="spinner-border float-right" style="width: 2rem; height: 2rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->
  <div *ngIf="IsLoading" [(ngModel)]="IsLoading" class="spinner-grow float-right" style="width: 2rem; height: 2rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
<app-menu-sidebar class="sidebar-dark-primary"></app-menu-sidebar>

<div class="content-wrapper">
    
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
<app-control-sidebar></app-control-sidebar>
<div id="sidebar-overlay" (click)="onToggleMenuSidebar()"></div>
